---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="flex flex-row">
  <div class="basis-1/6"></div>

  <div class="basis-2/3">
    <div class="font-sans mx-auto max-w-prose pb-4">
      <div class="mx-auto text-center prose prose-{{site.theme-color}}">
        <div>
          <img class="object-cover mx-auto h-50" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
            alt="author profile image">
        </div>
        <p class="text-black pb-5">
          Ron Lenk is a consulting Engineer, Inventor and Expert Witness. Working in a variety of fields, Ron Lenk
          has decades of experience and three dozen issued patents in his name. Ron Lenk was co-founder of
          Switch Light, as featured on the front cover of 
          <a href="https://www.wired.com/2011/08/ff-lightbulbs/" target="_blank" rel="noopener noreferrer">
            Wired Magazine</a>, and is author of two best-selling books,
          <a href="https://www.amazon.com/Practical-Design-Power-Supplies-Lenk/dp/047175045X/" target="_blank" rel="noopener noreferrer">
            Practical Design of Power Supplies</a>
          and 
          <a href="https://www.amazon.com/Practical-Lighting-Design-Press-Engineering-ebook/dp/B06XKX15D5/" target="_blank" rel="noopener noreferrer">
            Practical Lighting Design with LEDs</a>, now in its Second Edition and translated to Chinese.
        </p>
      </div>
    </div>
  </div>
  
  <div class="basis-1/6">
    <div class="flex flex-col space-y-4 items-left h-full">
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Design-Power-Supplies-Lenk/dp/047175045X/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pdops.jpg"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Lighting-Design-Press-Engineering-ebook/dp/B06XKX15D5/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pldwl.jpg"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Lighting-Design-LEDs-Chinese/dp/7115285306/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pldwl_c.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>


{% include social-media.html %}
{% include footer.html %}