---
layout: default
---
{% if site.show-nav-menu %}
  {% include nav.html%}
{% endif %}

<div class="flex flex-row">
  <div class="basis-1/6"></div>

  <div class="basis-2/3">
    <div class="font-sans mx-auto max-w-prose pt-4 text-center prose prose-{{site.theme-color}}">
      <div class="text-center text-5xl text-black">ReliaBulb</div>
      <div class="text-center text-2xl text-black">Electronics. Mathematics. Economics. Science.</div>
      <div class="text-center text-3xl text-black">New Ideas. Inventions.</div>
      <div>
        <img class="object-cover mx-auto h-50" src="{{site.baseurl}}/assets/img/{{site.author-image}}"
          alt="author profile image">
       </div>
      <p class="text-black pb-5">
        Ron Lenk has decades of experience in a huge variety of fields, has three dozen issued USA patents in his name and was co-founder
        and CEO at Switch Light, as featured on the front cover of 
        <a href="https://www.wired.com/2011/08/ff-lightbulbs/" target="_blank" rel="noopener noreferrer">
          Wired Magazine</a>. With Ron Lenk's degree in Physics from MIT, he is author of two best-selling engineering books,
        <a href="https://www.amazon.com/Practical-Design-Power-Supplies-Lenk/dp/047175045X/" target="_blank" rel="noopener noreferrer">
          Practical Design of Power Supplies</a>
        and 
        <a href="https://www.amazon.com/Practical-Lighting-Design-Press-Engineering-ebook/dp/B06XKX15D5/" target="_blank" rel="noopener noreferrer">
          Practical Lighting Design with LEDs</a>, as well as pioneering books in <a href="https://www.barnesandnoble.com/w/analytic-functional-equations-ron-lenk/1146243152" target="_blank" rel="noopener noreferrer">
          Mathematics</a> and Economics. Ron Lenk's new book 
        <a href="https://www.amazon.com/Robust-Power-Supply-Design-Supply-Chain-Challenged/dp/1394343027/ref=sr_1_3?crid=3K6PWSGEU42WK&dib=eyJ2IjoiMSJ9.-5D6u7y7aLqwynR0b0hmU9_xY8sw1hmrUW5j47elEoO8J7EicQotnTty8wlRs9cjB14pPG4_ABRc02TjJFZ0DA.vShaFAjhtcZbde_Vtn6ggwGj94xIhMlrqIpF1RwC6y4&dib_tag=se&keywords=ron+lenk&qid=1762537822&sprefix=ron+len%2Caps%2C287&sr=8-3" target="_blank" rel="noopener noreferrer">
          Supply-Chain Robust Power Supply Design: Procurable Components, Modern Performance, With Notes for the Hobbyist</a> will be published by John Wiley & Sons in February, 2026.
      <ul style="list-style-type:square;">
        <li>Professional Inventor</li>
        <li>Physicist</li>
        <li>Mathematician</li>
        <li>Economist</li>
        <li>Consulting Engineer, Patent Writer, Expert Witness</li>
        <li>Consultant to CEOs</li>
      </ul>
      </p>
    </div>

    <div class="flex flex-row font-sans mx-auto py-4 px-16">
      <div class="basis-2/3 py-4 px-1">
        <a href="{{site.baseurl}}/contact?subject=Power%20Supplies" class="text-sm text-black px-3 py-2 lg:py-1 mx-auto text-center">
          <div class="relative border border-black overflow-hidden rounded-full grid place-content-center prose transition-all px-1
          duration-500 bg-gradient-to-tl from-yellow-200 via-white to-white bg-size-200 bg-pos-0 hover:bg-pos-100">
            <div class="text-base font-bold p-4">Have a Problem?</div>
          </div>
          <div class="grid grid-cols-1 divide-y divide-gray-400 prose text-sm text-black px-3 py-2 lg:py-1 mx-auto text-center">
            <div>Not Enough People</div>
            <div>Your Staff Says It Can't be Done</div>
            <div>Circuit Design</div>
            <div>System Design</div>
            <div>Need to be Years Ahead</div>
            <div>Patent Attorney Doesn't Understand</div>
            <div>Authorized to Work in USA and EU</div>
          </div>
        </a>
      </div>
      <div class="basis-2/3 py-4 px-1">
        <a href="{{site.baseurl}}/contact?subject=Patents" class="text-sm text-black px-3 py-2 lg:py-1 mx-auto text-center">
          <div class="relative border border-black overflow-hidden rounded-full grid place-content-center prose transition-all px-1 
          duration-500 bg-gradient-to-tl from-yellow-200 via-white to-white bg-size-200 bg-pos-0 hover:bg-pos-100">
            <div class="text-base font-bold p-4">Here's the Solution!</div>
          </div>
          <div class="grid grid-cols-1 divide-y divide-gray-400 prose text-sm text-black px-3 py-2 lg:py-1 mx-auto text-center">
            <div>Design Circuits</div>
            <div>Design Systems</div>
            <div>Inventions</div>
            <div>Patent Writing and Portfolio Analysis</div>
            <div>Convert a 'Soft Science' to a Science</div>
            <div>Completely New Approaches</div>
            <div>Problems Solved, Small to Huge</div>
          </div>
        </a>
      </div>
    </div>

  </div>
  
  <div class="basis-1/6">
    <div class="flex flex-col space-y-4 items-left h-full">
       <div class="w-2/3 hover:scale-330 transition duration-300">
        <a href="https://www.barnesandnoble.com/w/analytic-functional-equations-ron-lenk/1146243152" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_eco.jpg"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-330 transition duration-300">
        <a href="https://www.amazon.com/Robust-Power-Supply-Design-Supply-Chain-Challenged/dp/1394343027/ref=sr_1_3?crid=3K6PWSGEU42WK&dib=eyJ2IjoiMSJ9.-5D6u7y7aLqwynR0b0hmU9_xY8sw1hmrUW5j47elEoO8J7EicQotnTty8wlRs9cjB14pPG4_ABRc02TjJFZ0DA.vShaFAjhtcZbde_Vtn6ggwGj94xIhMlrqIpF1RwC6y4&dib_tag=se&keywords=ron+lenk&qid=1762537822&sprefix=ron+len%2Caps%2C287&sr=8-3">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_robust.JPG"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-330 transition duration-300">
        <a href="https://www.barnesandnoble.com/w/analytic-functional-equations-ron-lenk/1146243152" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_Functional.JPG"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Design-Power-Supplies-Lenk/dp/047175045X/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pdops.jpg"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Lighting-Design-Press-Engineering-ebook/dp/B06XKX15D5/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pldwl.jpg"/>
        </a>
      </div>
      <div class="w-2/3 hover:scale-110 transition duration-300">
        <a href="https://www.amazon.com/Practical-Lighting-Design-LEDs-Chinese/dp/7115285306/" target="_blank" rel="noopener noreferrer">
          <img class="object-fit" src="{{site.baseurl}}/assets/img/book_pldwl_c.jpg"/>
        </a>
      </div>
    </div>
  </div>
</div>


{% include social-media.html %}
{% include footer.html %}
